:root {
    --background: #17192b;
    --background-light: #2c2f42;
    --table: #1f1f1f;
    --text: #f5fbff;
    --header: #f4bc7a;
    --orange: #a66b3f;
    --dark-orange: #5c381d;
    --light-orange: #e38b43;
    --aqua: #007bff;
}

.badeen-display-regular {
    font-family: "Badeen Display", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    /* Makes it so when you zoom out the table stays centered, but still to the left of the background */
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-family: "Oswald", sans-serif;
    line-height: 2;
    color: var(--text);
    margin: 0;
    padding: 0;

    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: contain;
    background-color: var(--background);
}

.container {
    table-layout: fixed;
    width: 900px;
    margin-right: 500px;
    margin-top: 30px;
    border-collapse: collapse;
    background-color: var(--table);
    box-shadow: 0 0 20px black;
}

p {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 40px;
}

img {
    display: block;
    margin: 0 auto;
}

td {
    padding: 0;
}

.nav-table {
    width: 900px;
    border-collapse: collapse;
}

.nav-table td {
    width: 20%;
    padding: 15px 8px;
}

.nav-table a {
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 8px 0;

    background-color: var(--background-light);
    border: 2px solid var(--background);
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
    transition: 0.5s ease;
}

.nav-table a:hover {
    background-image: linear-gradient(90deg, var(--dark-orange), var(--light-orange));
    border-color: var(--orange);
}

.nav-table a:active,
.back-to-top:active {
    transform: translateY(3px);
}

h1.title {
    text-align: center;
    color: var(--header);
    font-size: 36px;
}

.oppenheimer {
    width: 310px;
    border-radius: 12px;
    border: 4px solid var(--background-light);
    margin: 20px;
}

.card {
    width: 300px;
    padding: 30px 0;
}

.card-img {
    width: 260px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 4px solid var(--background-light);
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    background-color: #e38b43;
    border-radius: 50%;
}

.back-to-top img {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
}

.back-to-top:hover {
    background-color: #a66b3f;
}